body{
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

header{
    height: 250px;
    background-image: url(/assets/img/header.jpg);
    background-size: cover;
    background-position: center;
}

h1{
    font-size: 70px;
    margin: 0px;
    padding-top: 100px;
    padding-left: 270px;
}

h2{
    margin-top: 0px;
    padding-left: 270px;
}

section{
    width: 1000px;
    margin: 0px auto;
}

section img{
    height: 300px;
    width: 500px;
    object-fit: cover;
    margin: 50px 40px 0px 10px;
    border-radius: 20px;
}

section p{
    font-size: 20px;
}

footer{
    text-align: center;
    background-color: rgb(40, 5, 57);
    padding: 10px;
    margin-top: 50px;
}

footer p{
    margin: 0px;
    font-size: 20px;
}